<%- include("header") -%>

<h2>This is about page</h2>

<p>Hi I am Umang This is my website that i have created from scratch and this a todowish List
    with work list added as well
</p>

<%- include("footer") -%>
